@import 'reset';

$primary-color: #333;
$primary-font-color: #29293d;
$error-color: red;
$success-color: green;
$alert-color: yellow;

*{
  font-family: Tahoma;
}
body {
  background-image: url('/assets/redHeart.jpg');
  background-size: cover;
  // min-width: 100%;
  // min-height: 120%;
  background-repeat: no-repeat;
}


input{
  width: 400px;
  padding: 5px;
  font-size: 16px;
}

.message{
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.error{
  @extend .message;
  color: $error-color;
}

.success{
  @extend .message;
  color: $success-color;
}

.alert{
  @extend .message;
  color: $alert-color;
}

nav li{
  display: inline-block;
  padding: 0 20px;
}
nav ul{
  float: left;
}

nav{
  // background-color: #F0F8FF;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: $primary-font-color;
  height: 20px;
}
nav a{
 color: $primary-font-color;
}
.signin, .signin table{
  width: 400px;
  margin: 0 auto;
}

.hero{
  text-align: center;
  color: $primary-font-color;
  border-radius: 5px;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
}
.hero h3, .hero h2{
  margin: 10px;
}
.hero h1{
  font-size: 40px;

}
.book-entry{
  width: 250px;
  box-shadow: 5px 5px 5px #888888;
  background: #F7F7F7;
  padding: 5px;
  margin: 7px;
  border-radius: 5px;
}
.book-entry img{
  box-shadow: 5px 5px 5px #888888;
}
.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.my-books preloader{
  width: 40px;
}
.requests-list li{
  width: 250px;
}
.requests-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}