@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
$search-input-color: #333;
$primary-font-color: black;
$secondary-font-color: white;

$error-color: red;
$success-color: green;
$alert-color: yellow;

$input-width: 300px;
$label-width: 100px;

$segment: $input-width+$label-width+15px;
$primary-font: Arial, serif;
$secondary-font: Arial;

div, p, span, h1, h2, h3, label, form, input {

  font-family: $primary-font;
  color: $primary-font-color;
}
html {
  background: url('/assets/blueAbstract.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*Navigation Bar*/
nav{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 20px;
  a{
   text-decoration: none;
   cursor: pointer;
   color: #DEDEDE;
  }
  li{
    display: inline-block;
    padding: 0 20px;
  }
  ul{
    float: left;
  }
  .logout{
    float: right;
  }
}
input{
  width: 300px;
  padding: 5px;
  font-size: 16px;
  color: $search-input-color;
}

/*Landing Page*/
.signin,
.signup {
  form {
    width: $segment;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    div{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    label{
      display: inline-block;
      font-weight: bold;
      width: 100px;
      color: #3D3D3D;
    }
    .submitBtn {
      text-align: center;
      input{
          -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
          -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
          box-shadow: 0px 0px 0px 2px #9fb4f2;
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
          background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
          background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
          background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
          background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
          background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
          background-color:#7892c2;
          -moz-border-radius:10px;
          -webkit-border-radius:10px;
          border-radius:10px;
          border:1px solid #4e6096;
          display:inline-block;
          cursor:pointer;
          color:#ffffff;
          font-family:Arial;
          font-size:16px;
          padding:4px 16px;
          text-decoration:none;
          text-shadow:0px 1px 0px #283966;
          text-align: center;
        .submitBtn:hover {
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
          background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
          background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
          background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
          background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
          background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
          background-color:#476e9e;
        }
        .submitBtn:active {
          position:relative;
          top:1px;
        }

        display: inline-block;
        width: 125px;
        font-family: $secondary-font;
      }
    }
  }
}

a {
  text-decoration: none;
}
.innerDiv{
  padding: 30px;
  padding-top: 15px;
  text-align: center;
}
.tab-bar{
  width: $segment;
  text-align: center;
  margin: 20px auto 20px auto;
  .first{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .last{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .button {
    background: #dbdbdb;
    padding: 5px 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: $secondary-font-color;
    font-size: 14px;
    font-family: $primary-font-color;
    text-decoration: none;
    vertical-align: middle;
  }
  .button:hover {
     border-top-color: #4f4f4f;
     background: #4f4f4f;
     color: #ccc;
     }
  .button:active {
     border-top-color: #4d4e73;
     background: #4d4e73;
     }

}
.tab {
  display: inline-block;
  padding: 0px;
  .active {
    font-weight: bold;
    text-decoration: none;
  }
}
li {
  list-style: none;
}
.message{
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.error{
  @extend .message;
  color: $error-color;
}
.success{
  @extend .message;
  color: $success-color;
}
.alert{
  @extend .message;
  color: $alert-color;
}
.hero{
  background-color: rgba(239,239,239,0.90);
  text-align: center;
  border-radius: 5px;
  width: 700px;
  padding-left: 50px auto;
  margin: 50px auto;
  padding: 20px;
  h1{
    font-size: 40px;
    margin-top: 15px;
    color: #3D3D3D;
  }
  h2{
    color: #3D3D3D;
  }
}
.book-entry{
  width: 250px;
  height: 300px;
  box-shadow: 0px 3px 5px #888888;
  background: #F7F7F7;
  padding: 5px;
  margin: 7px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  img{
    box-shadow: 0px 3px 5px #888888;
  }
}
.owner-button{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.owner-button p,
.owner-button button,
.owner-button div,
.owner-button span
{
  color: #3D3D3D !important;
}

.book-list{
   }
.my-books preloader{
  width: 30px;
}
.requests-list li{
  width: 250px;
}
.requests-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.__react_component_tooltip > div {
  max-width: 300px;
  text-align: left;
}

.hero, .about span, .hero, .about p{
  color: #3D3D3D !important;
}

.hero .about .description,
.hero .about span,
.hero .about p{
  color: #3D3D3D !important;
}
.people div {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  margin: 25px;
}

.userSearch li,
.friends li {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  .userName {
    display: block;
  }
}

.people img{
  border-radius: 50%;
}

.submitBtn {

}
