@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
$search-input-color: #333;
// $primary-font-color: #343434;
$primary-font-color: black;
$error-color: red;
$success-color: green;
$alert-color: yellow;
$input-width: 300px;
$label-width: 100px;
$segment: $input-width+$label-width+15px;
$primary-font: 'Lora', Arial, serif;
$secondary-font: Arial;


* {
  font-family: $primary-font;
  color: $primary-font-color;
}
html {

  // background: url('/assets/letters.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Navigation Bar*/
nav{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  height: 20px;
  a{
   text-decoration: none;
   cursor: pointer;
   color: #DEDEDE;
  }
  li{
    display: inline-block;
    padding: 0 20px;
  }
  ul{
    float: left;
  }
  .logout{
    float: right;
  }
}

input{
  width: 300px;
  padding: 5px;
  font-size: 16px;
  color: $search-input-color;
}

/*Landing Page*/
.signin,
.signup {
  form {
    width: $segment;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

    div{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    label{
      display: inline-block;
      font-weight: bold;
      width: 100px;
    }
    .submitBtn {
      text-align: center;
      input{
        display: inline-block;
        width: 125px;
        font-family: $secondary-font;

      }
    }
  }
}

a {
  text-decoration: none;
}

.innerDiv{
  padding: 30px;
  padding-top: 15px;
  text-align: center;
}

.tab-bar{
  width: $segment;
  text-align: center;
  margin: 20px auto 20px auto;
  .first{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .last{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .button {
    background: #dbdbdb;
    padding: 5px 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #262626;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
  }
  .button:hover {
     border-top-color: #4f4f4f;
     background: #4f4f4f;
     color: #ccc;
     }
  .button:active {
     border-top-color: #4d4e73;
     background: #4d4e73;
     }
}

.tab {
  display: inline-block;
  padding: 0px;
  .active {
    font-weight: bold;
    text-decoration: none;
  }
}

li {
  list-style: none;
}

.message{
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.error{
  @extend .message;
  color: $error-color;
}

.success{
  @extend .message;
  color: $success-color;
}

.alert{
  @extend .message;
  color: $alert-color;
}

.hero{
  background-color: #EFEFEF;
  text-align: center;
  border-radius: 5px;
  width: 700px;
  padding-left: 50px auto;
  margin: 50px auto;
  padding: 20px;
  h1{
    font-size: 40px;
    margin-top: 15px;
  }
}

.book-entry{
  width: 250px;
  height: 300px;
  box-shadow: 0px 3px 5px #888888;
  background: #F7F7F7;
  padding: 5px;
  margin: 7px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  img{
    box-shadow: 0px 3px 5px #888888;
  }
}

.owner-button{
  position: absolute;
  bottom: 10px;
  width: 100%;
}


.book-list{
   }

.my-books preloader{
  width: 40px;
}

.requests-list li{
  width: 250px;
}

.requests-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.__react_component_tooltip > div {
  max-width: 300px;
  text-align: left;
}

.hero .about {
  background-color: $primary-font-color;

}

.people div {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  margin: 25px;
}

.friends li {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;

  .userName {
    display: block;
  }
}