@import 'reset';

$primary-color: #333;
$error-color: red;
$success-color: green;
$alert-color: yellow;

*{
  font-family: Arial;
}
#app {
  background-image: 'assets/background.jpg';
}

h1{
  color: $primary-color;
}

input{
  width: 400px;
  padding: 5px;
  font-size: 16px;
}

.message{
  font-size: 15px;
}

.error{
  @extend .message;
  color: $error-color;
}

.success{
  @extend .message;
  color: $success-color;
}

.alert{
  @extend .message;
  color: $alert-color;
}

nav li{
  display: inline-block;
}

nav{
  background-color: black;
  padding: 10px;
  color: white;
}
nav a{
 color: white; 
}
.signin, .signin table{
  width: 400px;
  margin: 0 auto;
}

.hero{
  text-align: center;
}
.book-entry{
  width: 250px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}